body {
    background: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    color:white;
    background: yellowgreen;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    top: 0;
    left: 0;
    height: 69px;
    width: 69px;
    border-radius:30%
}

.logo-name{
    text-decoration:none;
    color:black;
    top:0;
    font-size:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar{
    color:white;
    float:right;
}

.navbar a{
    float:left;
    color:white;
    text-align:center;
    padding:15px;
    font-size:25px;
    line-height:25px;
    border-radius:10px;
    text-decoration:none;
}

.navbar a:hover{
    background-color:blue;
}

li{
    display: inline;
}

footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.socials{
    text-decoration:none;
    color:white;
    padding:10px;
    font-size:20px;
    border-radius:10px;
}

.socials-tag{
    font-size:20px;
}

.icons{
    border-radius:50%
}